@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@include mat.core();

@import 'mat-palette-gen';
@import 'variables';

$primary-palette: createPalette($primary-color);
$accent-palette: createPalette($accent-color);
$error-palette: createPalette($error-color);

$app-primary: mat.define-palette($primary-palette);
$app-accent: mat.define-palette($accent-palette);

$app-warn: mat.define-palette($error-palette);

$app-theme: mat.define-dark-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

$primary-contrast-color: map-get(map-get($primary-palette, 'contrast'), 500);
$accent-contrast-color: map-get(map-get($accent-palette, 'contrast'), 500);

@include mat.all-component-themes($app-theme);
