@import '~@angular/material/theming';
@include mat-core();
@import 'mat-palette-gen';
@import "variables";

$primary-palette: createPalette($primary-color);
$accent-palette: createPalette($accent-color);
$error-palette: createPalette($error-color);

$app-primary: mat-palette($primary-palette);
$app-accent: mat-palette($accent-palette);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($error-palette);

$app-theme: mat-dark-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

@include angular-material-theme($app-theme);
